---
import { render } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Meta from "@/components/Meta";
// import MarkdownContentWrapper from "@/components/MarkdownContentWrapper.astro";
import StyledText from "@/components/StyledText";
import { paths } from "@/utils/findPathByType";

import { allBlogData } from "@/data/contentCollectionDataFetching";

import type { GetStaticPaths } from "astro";

// Get static paths
export const getStaticPaths = (async () => {
  return paths.blog?.path
    ? allBlogData.map((post) => ({
        params: {
          post: `${paths.blog?.path}/${post.id}`,
        },
        props: {
          post,
        },
      }))
    : [];
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout pageTitle={post.data.title}>
  <main class="layout-base justify-items-center py-8">
    <div
      class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground min-w-0 lg:max-w-[80ch]"
    >
      <StyledText as="h1" variant="displayLG">
        {post.data.title}
      </StyledText>
      <Meta data={post} {paths} linked client:load />
      <Content />
    </div>
  </main>
</BaseLayout>
